body, margin, ul {
  font-family: "M PLUS Rounded 1c";
  margin: 0;
  padding: 0; 
}
.relative{
  position: relative;
}
header ul {
  display: flex;
  justify-content: flex-end;
  /*align-items: center;*/
}
header ul li {
  list-style: none;
  /*margin-right: 10px; */
  padding: 15px;
}
header a img{
  width: 100%;
  display: block;
  position: absolute;
  top: 0px;
  z-index: -1;
}
a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  text-shadow: 1px 2px 3px #9370db; 
}
li a:before {
    content: "";
    margin: 0 8px 0 3px;
}
li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
}
li a:hover {
  animation: hoverShake 0.15s linear 3;
}
@keyframes hoverShake {
  0% {transform: skew(0deg,0deg);}
  25% {transform: skew(1deg, 1deg);}
  75% {transform: skew(-1deg, -1deg);}
  100% {transform: skew(0deg,0deg);}
}
i{
  color: white;
  opacity: 0.3;
  padding: 10px;
}